<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California Restaurant Finder</title>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>California Restaurant Finder</h1>
    <form id="searchForm">
        <input type="text" id="query" name="query" placeholder="Describe the type of restaurant you're looking for..." required>
        <button type="submit">Search</button>
    </form>
    <div id="results"></div>
    <div id="restaurantCountDisplay" class="restaurant-count">Loading restaurant count...</div>
    
    <script src="/static/index.js"></script>
</body>
</html>